GEMINI_API_KEY=AIzaSyAaNRvBBGkOxLKGfS-Cnnqq3YTFz9Bw0lU
PORT=5000

# MongoDB Atlas
MONGO_URI=mongodb+srv://abhiramreddyvundhyala_db_user:mlFLhYkkqb046HAC@studyhub.ln04j07.mongodb.net/studyhub?retryWrites=true&w=majority&appName=studyhub

# JWT Secret
JWT_SECRET=studyhub-jwt-s3cr3t-k3y-2026-xK9mP2vL8nQ

# Cloudinary Configuration (for file uploads)
CLOUDINARY_CLOUD_NAME=dp7qicyzj
CLOUDINARY_API_KEY=311766218946534
CLOUDINARY_API_SECRET=rRb5jZ46pguNjElIAGZzoL809iI